<div class="page-body">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="text-center text-white">Feedback</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="container container-tight py-4">
        <div class="card card-md">
          <div class="card-body">
            <p class="fw-bold fs-3">Thank you for your feedback!</p>
            <p>We appreciate you taking the time to share your thoughts with us.
              Your input helps us improve and serve you better.</p>
            <p class="mb-1">Best regards,</p>
            <p>App Maintainers Ltd.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
