<div id="project-<%= project.id %>" class="bg-white m-3 px-4"
     style="border-left: 6px solid <%= project.status.background %>">
  <h2><%= link_to project.title, project%></h2>
  <span class="pt-3">Associated users:</span>
  <ul>
    <% project.maintainers.each do |maintainer| %>
    <li><%= link_to maintainer.first_name, maintainer %></li>
    <% end %>
  </ul>
</div>