<div id="project-<%= project.id %>" class="bg-white m-3 rounded-md px-4 py-3 hover:shadow-md duration-150"
     style="border-left: 6px solid <%= project.status.background %>">
  <h2 class="text-lg font-bold"><%= link_to project.title, project, class: "hover:text-purple-700 duration-150" %></h2>
  <span class="inline-block pt-3">Associated users:</span>
  <ul class="inline-block">
    <% project.users.each do |user| %>
    <li><%= link_to user.first_name, user %></li>
    <% end %>
  </ul>
</div>