<div class="container">
  <div class="page-body">
    <div class="container-xl">
      <div class="row row-deck row-cards">
        <div class="col-12">
          <div class="card">
            <div class="card-body">
              <h1>Create project</h1>
              <%= render 'form', project: @project %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
