<%= render 'projects/header', project: @project %>
<div class="page-body">
  <div class="container-xl">
    <div class="row row-cards">
      <div class="col-12">
        <%= render 'links/table', links: @links %>
      </div>
    </div>
  </div>
</div>
