<p>Dear <%= @user.first_name %>,</p>
<p>Please provide us with your feedback regarding <%= link_to 'our mutual project', @form.share_link %>.</p>
<p>We thank you for your feedback in advance,</p>
<p>the AppMaintainers team</p>
