<div class="mb-3">
  <%= f.fields_for :scale_answers_attributes, index: nil do |nf| %>
    <% id = "feedback_scale_answers_attributes_#{question.id}_answer" %>
    <%= nf.label :answer, question.question, class: 'form-label', for: id %>
    <%= nf.range_field :answer, class: 'form-range', id: id, min: question.minimum, max: question.maximum, step: 1 %>
    <%= nf.hidden_field :scale_question_id, value: question.id %>
  <% end %>
</div>
