<div class="mb-3">
  <%= f.fields_for :select_answers_attributes, index: nil do |nf| %>
    <% id = "feedback_select_answers_attributes_#{question.id}_answer" %>
    <%= nf.label :answer, question.question, class: 'form-label', for: id %>
    <%= nf.select :answer, question.options, { include_blank: true }, class: 'form-select', id: id %>
    <%= nf.hidden_field :select_question_id, value: question.id %>
  <% end %>
</div>
