<div class="mb-3">
  <%= f.fields_for :string_answers_attributes, index: nil do |nf| %>
    <% id = "feedback_string_answers_attributes_#{question.id}_answer" %>
    <%= nf.label :answer, question.question, class: 'form-label', for: id %>
    <%= nf.text_field :answer, class: 'form-control', id: id %>
    <%= nf.hidden_field :string_question_id, value: question.id %>
  <% end %>
</div>
