<div class="mb-3">
  <%= f.fields_for :text_answers_attributes, index: nil do |nf| %>
    <% id = "feedback_text_answers_attributes_#{question.id}_answer" %>
    <%= nf.label :answer, question.question, class: 'form-label', for: id %>
    <%= nf.text_area :answer, class: 'form-control', id: id %>
    <%= nf.hidden_field :text_question_id, value: question.id %>
  <% end %>
</div>
