name: RSpec
on: [push]

jobs:
  rspec:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:14.7
        env:
          POSTGRES_USER: runner
          POSTGRES_DB: beloved_projects_test
          POSTGRES_HOST_AUTH_METHOD: trust
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5

    env:
      POSTGRES_HOST: localhost
      RAILS_ENV: test

    steps:
      - uses: actions/checkout@v3

      - name: Install ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Install node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.tool-versions'
          cache: yarn

      - name: Run Shakapacker
        run: |
          yarn install
          bin/shakapacker

      - name: Run RSpec
        run: bundle exec rspec
